# dependencies (bun install)
node_modules

# output
out
dist
*.tgz
concat.xml

# code coverage
coverage
*.lcov

# logs
# logs
# _.log
report.[0-9]_.[0-9]_.[0-9]_.[0-9]_.json

# dotenv environment variable files
.env
.env.development.local
.env.test.local
.env.production.local
.env.local

# caches
.eslintcache
.cache
*.tsbuildinfo

# IntelliJ based IDEs
.idea

# Finder (MacOS) folder config
.DS_Store

# Ciao Prolog compilation artifacts
# *.itf
# *.po
# *.asr
# *.ast

# Ciao Prolog test output files
# *.testout
# *.testout-saved
# *.testin
# *.testin-saved
# prolog/run_tests

# CiaoPP generated output files
# *_co.pl
# *_pd_*.pl
# *_eterms_*.pl
# *_codegen_*.pl

# Ciao Prolog checker temporary files (VS Code extension)
# *.po-tmpciao*
# *_flycheck_tmp_co.*

# CiaoPP compiled executables
ciaopp/ciaopp
.aider.tags*
.aider.chat.history.md
.aider.input.history

diff.txt
build/prologinator.pl