[submodule "submodules/ciao"]
	path = submodules/ciao
	url = https://github.com/ciao-lang/ciao.git
[submodule "submodules/ciao-alldocs"]
	path = submodules/ciao-alldocs
	url = https://github.com/ciao-lang/alldocs.git
[submodule "submodules/scryer-prolog"]
	path = submodules/scryer-prolog
	url = https://github.com/mthom/scryer-prolog.git
